pendulum
pandas
apache-airflow
# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-http
apache-airflow-providers-google
airflow.decorators
airflow.providers.http.sensors.http
airflow.providers.http.operators.http
airflow.providers.google.cloud.hooks.gcs
dotenv
io
datetime
json
os